<div id="bd">
    <div class="t4">
        <div class="main">
            <div class="co">
        	<div class="mf-pl mf-tui">
            	<div class="title">
                	<span><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_07.gif"></span>
              </div>
              
              <div class="mod mf-lpt">
              	
                                <div class="mod content">
                	<div class="content_t">　皮肤美白
                    </div>
                  <div class="mod content_c">
               	    <div class="content_l">
                        	<span><a href="http://zhengxing.999zg.net.cn/jiguang/pifumeibai" class="font1">皮肤美白</a></span>
                        	<p><a href="http://zhengxing.999zg.net.cn/jiguang/pifumeibai" class="font2">激光及其相关设备的出现，使皮肤美白除皱成为现实。激光美白除皱的方法并且同时还能减少皮肤细纹和肤色暗淡，去除黑眼圈，紧致肌肤，使得美白除皱越来越受到大家的关注。</a>
                    </div>
                        <div class="content_m">
                           <ul>
                            	<li><a href="#" class="font1">能解决的问题</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font1">延伸阅读</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                          </ul>

                        </div>
                        <div class="content_r">
                       	  <div class="content_l_1">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_pic.gif" align="absmiddle" />
                            </div>
                            <div class="content_l_2"><p><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font3" target="_blank">朱梦婷</a></p><span><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font4" target="_blank">皮肤护理整形顾问<br />
[立即咨询]</a></span></div>
                    </div>
                  </div>
                </div>
                
                
                <div class="mod content">
                	<div class="content_t">　嫩肤
                    </div>
                  <div class="mod content_c">
               	    <div class="content_l">
                        	<span><a href="http://zhengxing.999zg.net.cn/jiguang/nenfu" class="font1">嫩肤</a></span>
                        	<p><a href="http://zhengxing.999zg.net.cn/jiguang/nenfu" class="font2">嫩肤是通过脉冲强光(intensive pulse light, IPL)对皮肤进行一种带有美容性质的治疗，其功能是改善面部毛细血管扩张、改善面部毛孔粗大和皮肤粗糙。简便快捷的治疗在医学美容界创造了一个又一个奇迹。</a>
                      </div>
                        <div class="content_m">
                           <ul>
                            	<li><a href="#" class="font1">能解决的问题</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font1">延伸阅读</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                          </ul>

                        </div>
                        <div class="content_r">
                       	  <div class="content_l_1">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_pic.gif" align="absmiddle" />
                            </div>
                            <div class="content_l_2"><p><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font3" target="_blank">朱梦婷</a></p><span><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font4" target="_blank">皮肤护理整形顾问<br />
[立即咨询]</a></span></div>
                    </div>
                    </div>
                </div>
                
                <div class="mod content">
                	<div class="content_t">　紧肤除皱
                    </div>
                  <div class="mod content_c">
               	    <div class="content_l">
                        	<span><a href="http://zhengxing.999zg.net.cn/jiguang/jifuchuzhou" class="font1">紧肤除皱</a></span>
                        	<p><a href="http://zhengxing.999zg.net.cn/jiguang/jifuchuzhou" class="font2">激光除皱是使用超脉冲二氧化碳激光,利用其较强光束,瞬间释放,直接对皮肤放射热能使胶原蛋白等皮下组织紧绷,并促进皮下胶原纤维及弹性纤维增生,从而达到紧肤，使皮肤恢复青春.</a>
                      </div>
                        <div class="content_m">
                           <ul>
                            	<li><a href="#" class="font1">能解决的问题</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font1">延伸阅读</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                          </ul>

                        </div>
                        <div class="content_r">
                       	  <div class="content_l_1">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_pic.gif" align="absmiddle" />
                            </div>
                            <div class="content_l_2"><p><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font3" target="_blank">朱梦婷</a></p><span><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font4" target="_blank">皮肤护理整形顾问<br />
[立即咨询]</a></span></div>
                    </div>
                    </div>
                </div>
                
                
                <div class="mod content">
                	<div class="content_t">　祛斑
                    </div>
                  <div class="mod content_c">
               	    <div class="content_l">
                        	<span><a href="http://zhengxing.999zg.net.cn/jiguang/quban" class="font1">祛斑</a></span>
                        	<p><a href="http://zhengxing.999zg.net.cn/jiguang/quban" class="font2">激光能产生一种具备高强度瞬间能量的可见光，不同波长的激光会被皮肤中特别的颜色或色素吸收，主要针对黑色及咖啡色色素、色斑，将光线和色素结合，使之被分解，当色素渐渐被身体吸收后，色斑的颜色就会随之变淡了。</a>
                      </div>
                        <div class="content_m">
                           <ul>
                            	<li><a href="#" class="font1">能解决的问题</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font1">延伸阅读</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                          </ul>

                        </div>
                        <div class="content_r">
                       	  <div class="content_l_1">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_pic.gif" align="absmiddle" />
                            </div>
                            <div class="content_l_2"><p><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font3" target="_blank">朱梦婷</a></p><span><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font4" target="_blank">皮肤护理整形顾问<br />
[立即咨询]</a></span></div>
                    </div>
                    </div>
                </div>
                
                <div class="mod content">
                	<div class="content_t">　祛疤痕
                    </div>
                  <div class="mod content_c">
               	    <div class="content_l">
                        	<span><a href="http://zhengxing.999zg.net.cn/jiguang/qubahen" class="font1">祛疤痕</a></span>
                        	<p><a href="http://zhengxing.999zg.net.cn/jiguang/qubahen" class="font2">激光祛疤痕拥有非常不错的治疗效果，通过激光的方法能够帮助求美者轻松实现美白肌肤的最佳效果，激光能够有效的祛疤痕，实现肌肤原有的美白光滑效果。</a>
                      </div>
                        <div class="content_m">
                           <ul>
                            	<li><a href="#" class="font1">能解决的问题</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font1">延伸阅读</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                          </ul>

                        </div>
                        <div class="content_r">
                       	  <div class="content_l_1">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_pic.gif" align="absmiddle" />
                            </div>
                            <div class="content_l_2"><p><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font3" target="_blank">朱梦婷</a></p><span><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font4" target="_blank">皮肤护理整形顾问<br />
[立即咨询]</a></span></div>
                    </div>
                    </div>
                </div>
                
                <div class="content">
                	<div class="content_t">　脱毛
                    </div>
                  <div class="mod content_c">
               	    <div class="content_l">
                        	<span><a href="http://zhengxing.999zg.net.cn/jiguang/tuomao" class="font1">脱毛</a></span>
                        	<p><a href="http://zhengxing.999zg.net.cn/jiguang/tuomao" class="font2">激光脱毛是现在更加先进与安全的脱毛方式。在选择性光热作用原理的基础上，创造性地采用了选择热动力学原理，使毛囊产生热，进行选择性的破坏毛囊，在避免对周围组织顺上的同时达到祛除多余毛发的效果。</a>
                      </div>
                        <div class="content_m">
                           <ul>
                            	<li><a href="#" class="font1">能解决的问题</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font1">延伸阅读</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                                <li><a href="#" class="font2">皮肤美白</a></li>
                          </ul>

                        </div>
                        <div class="content_r">
                       	  <div class="content_l_1">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/g_pic.gif" align="absmiddle" />
                            </div>
                            <div class="content_l_2"><p><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font3" target="_blank">朱梦婷</a></p><span><a href="http://live.zoosnet.net/LR/Chatpre.aspx?id=LEK71428281" class="font4" target="_blank">皮肤护理整形顾问<br />
[立即咨询]</a></span></div>
                    </div>
                    </div>
                </div>
                
               </div> 
          </div>
    </div> 
        </div>
        <div class="si">
        <div class="content white">
        <div class="title"><span><p><a href="#">医院简介</a></p><p>Introduction</p></span></div>
                    <div class="mod text">
                        <div class="txt"><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/j_07.gif" align="left" style="padding-right:10px;"></a><a href="#">北京知音整形医院是国内服务质量优良、医疗设备先进、管理科学严谨的中韩整形专业机构。 北京知音整形医院有整形美容外科、牙科美容、科研等为一级...</a></div>
          </div>
        </div>
        	<div class="fast white">
                    	<div class="title"><span><p>设备展示</p><p>Equipments</p></span></div>
                        <div class="mod fast-nav">
                        	<div class="pic">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/shebei1.jpg" />
                            </div>
                            <div class="pic">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/shebei2.jpg" />
                            </div>
                            <div class="pic">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/shebei3.jpg" />
                            </div>
                        </div>
                        <div class="mod fast-nav">
                        	<div class="pic">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/shebei4.jpg" />
                            </div>
                            <div class="pic">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/shebei5.jpg" />
                            </div>
                            <div class="pic">
                            <img src="http://www.999zg.net.cn/templets/zhiyinchina/images/shebei4.jpg" />
                            </div>
                        </div>
                    </div>
               <div class="ex">
                	<div class="exsibar white">
                    	<div class="title"><span><p>媒体报道</p><p>Media reports</p></span></div>
                        <div class="pic"><span><a href="http://www.sina.com" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic6.jpg"></a></span><a href="http://www.baidu.com" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic5.jpg"></a></div>

                        <div class="pic"><span><a href="http://www.163.com" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic2.jpg"></a></span><a href="http://www.china.com" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic3.jpg"></a></div>

                        <div class="pic"><span><a href="http://www.china.com.cn" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic1.jpg"></a></span><a href="http://www.qianlong.com" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic4.jpg"></a></div>
                        <div class="list">
                        	<ul class="u2">
                            	<li><a href='http://www.999zg.net.cn/recommend/2010/0916/1381.html'>展现女人黄金曲线，“沟</a></li>
								<li><a href='http://www.999zg.net.cn/recommend/2010/0916/1379.html'>童颜术-----抵御岁月时光，</a></li>
								<li><a href='http://www.999zg.net.cn/recommend/2010/0916/1374.html'>自体脂肪隆胸----傲人“双</a></li>
								<li><a href='http://www.999zg.net.cn/recommend/2010/0916/1371.html'>韩式开眼角-----“睛”彩绽</a></li>
								<li><a href='http://www.999zg.net.cn/recommend/2010/0916/1370.html'>不要等“袋”，开启美丽</a></li>
								<li><a href='http://www.999zg.net.cn/recommend/2010/0916/1355.html'>“睛”雕美丽，女人“双</a></li>

                            </ul>
                        </div>
                        <div class="links">
                        	<span><a href="http://swt.zoosnet.net/LR/Chatpre.aspx?id=SWT52290650" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic7.jpg"><p>免费电话</p></a></span>
                        	<span><a href="http://swt.zoosnet.net/LR/Chatpre.aspx?id=SWT52290650" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic8.jpg"><p>QQ咨询</p></a></span>
                            <span><a href="http://swt.zoosnet.net/LR/Chatpre.aspx?id=SWT52290650" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic9.jpg"><p>预约医生</p></a></span>
                            <span class="last"><a href="http://swt.zoosnet.net/LR/Chatpre.aspx?id=SWT52290650" target="_blank"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic10.jpg"><p>在线交谈</p></a></span>
                        </div>
                    </div>
                </div>     
                    
        </div>
    </div>
  </div>