<div id="contert">
  	<div class="c-top"><a href="#">详情请咨询整形顾问</a></div>
    <div class="c-bottom">
    	<div class="b-left"></div>
        <div class="b-co">
        	<div class="contenter pd">
            	<div class="hd"><h1><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic18.jpg"></a></h1></div>
                <div class="mod mmf mt2">
                	<div class="pt">
                        <div class="hd">NO.1<a href="http://zhengxing.999zg.net.cn/meirong/aibeifu">爱贝芙<span>(15分钟除皱的秘密)</span></a></div>
                        <div class="pic mt"><a href="http://zhengxing.999zg.net.cn/meirong/aibeifu"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic19.jpg"></a></div>
                        <div class="txt mt">爱贝芙是由世界“注射美容之父”Gottfried Lemperle 教授发明的，可注射的人体肌肤年轻化医疗美容产品。由于它使用起来安...
                            <ul>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt last">
                        <div class="hd">NO.2<a href="http://zhengxing.999zg.net.cn/meirong/yiweilan">伊维兰</a></div>
                        <div class="pic mt"><a href="http://zhengxing.999zg.net.cn/meirong/yiweilan"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/yiweilan.jpg"></a></div>
                        <div class="txt mt">伊维兰是无创除皱美容技术的代表，用来填补相关的深层皱纹、皱褶，只需几分钟，立即神不知鬼不觉的年轻10岁，没有痛苦，自然持久，而且不受...
                            <ul>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mod mmf mt2">
                	<div class="pt">
                        <div class="hd">NO.3<a href="http://zhengxing.999zg.net.cn/meirong/jiaoyuandanbai">胶原蛋白</a></div>
                        <div class="pic mt"><a href="http://zhengxing.999zg.net.cn/meirong/jiaoyuandanbai"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/jiaoyuandanbai.jpg"></a></div>
                        <div class="txt mt">胶原蛋白是一种生物性高分子物质，英文学名Collagen。含人体需要的甘氨酸、脯氨酸、羟脯氨酸等氨基酸。占全身总蛋白质的30%以上。...
                            <ul>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pt last">
                        <div class="hd">NO.4<a href="http://zhengxing.999zg.net.cn/meirong/boniaosuan">玻尿酸</a></div>
                        <div class="pic mt"><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/boniaosuan.jpg"></a></div>
                        <div class="txt mt">玻尿酸，在人类皮肤的真皮层中扮演了基质的重要角色，玻尿酸以填充物的方式注射进入真皮皱折凹陷，或希望丰润的部位...
                            <ul>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mod mmf mt2">
                	<div class="pt">
                        <div class="hd">NO.5<a href="http://zhengxing.999zg.net.cn/meirong/botox">Botox</a></div>
                        <div class="pic mt"><a href="http://zhengxing.999zg.net.cn/meirong/botox"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/botox.jpg"></a></div>
                        <div class="txt mt">一种能真正预防和防止衰老的灵丹妙药。美国研究应用肉毒素(Botox)，治疗面部的皱纹，收到了较佳的效果，此法很快风靡欧...
                            <ul>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                                <li><a href="#">由世界“注射美容之父”Gottfri </a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="mt3 hd"><h1><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic20.jpg"></a></h1></div>
                <div class="mod mt picbox">
                	<div class="p-o"><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic21.jpg"></a></div>
                    <div class="p-t">
                    	<span><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic22.jpg"></a></span>
                        <span class="mt"><a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic23.jpg"></a></span>
                    </div>
                    <div class="p-s">
                    	<a href="#"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/pic24.jpg"></a>
                    	<ul class="mt">
                        	<li><a href="#">医疗美容实验.1</a></li>
                            <li><a href="#">医院外景.2</a></li>
                            <li><a href="#">医疗大厅.3</a></li>
                            <li><a href="#">医院前台.4</a></li>
                        </ul>
                    </div>
                    <div class="list">
                    	<div class="hd"><a href="#">无创非手术美容必读</a></div>
                        <div class="mt bd">
                            <ul>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                                <li><a href="#">医学博士，国际著名整形外科专家</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>