<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>del</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', :action=>'destroy',:id=>user.id, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_admin_user_path %>