<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>北京知音整形美容医院 整形项目: <%= controller.action_name %></title>
<link href="http://www.999zg.net.cn/templets/zhiyinchina/css/comm.css" rel="stylesheet" type="text/css" />
<link href="http://www.999zg.net.cn/templets/zhiyinchina/css/top.css" rel="stylesheet" type="text/css" />
<link href="http://www.999zg.net.cn/templets/zhiyinchina/css/<%= @css %>.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="doc2">
<div id="hd">
    <div class="mod top">
      <div class="logo"><a href="http://www.999zg.net.cn/">
        <h1>北京知音整形</h1>
      </a></div>
      <div class="nav">
        <div class="mod top-nav">
          <div class="bg"><img src="http://www.999zg.net.cn/templets/zhiyinchina/images/topbg2.jpg" /></div>
          <div class="link">
            <ul>
                <li><a href="http://www.999zg.net.cn/">首页</a>|</li>
			              <li><a href="http://www.999zg.net.cn/expert/">专家团队</a>|</li>

			              <li><a href="http://www.999zg.net.cn/changshi/">整形常识</a>|</li>
			              <li><a href="http://www.999zg.net.cn/about/reported.html">媒体报道</a>|</li>
			              <li><a href="http://www.999zg.net.cn/Special/">精彩专题</a>|</li>
			              <li><a href="http://www.999zg.net.cn/about/lines.html">行车路线</a></li>
			 
            </ul>
          </div>
        </div>
        <div class="mian-nav">
          <ul>
			<li id="on1"><a href="http://zhengxing.999zg.net.cn/zhengxing/"><span>微创美容整形</span></a></li>
			            <li id="on2"><a href="http://zhengxing.999zg.net.cn/meirong/"><span>无创非手术整形</span></a></li>
			            <li id="on3"><a href="http://zhengxing.999zg.net.cn/jiguang/"><span>光学皮肤护理</span></a></li>

			            <li id="on4"><a href="http://www.999zg.net.cn/case/"><span>知音经典案例</span></a></li>
			            <li id="on5"><a href="http://www.999zg.net.cn/vip/"><span>VIP俱乐部</span></a></li>
			            <li id="on6" class="last"><a href="http://www.999zg.net.cn/about/aboutus.html"><span>关于知音</span></a></li>
           

</ul>
        </div>
      </div>
    </div>
    <div class="ft"><span>搜索：
     <input name="username" type="text" class="input" id="username" value="三维定位提升" size="24" maxlength="40" />
    </span>网站导航:<a href="http://www.999zg.net.cn/">首页</a> >> 整形项目</div>
  </div>
  
	

<!--bd start-->
  
        <%= yield %>

  <!--bd stop-->


 <!--ft start-->

  <div id="ft">
  	<div class="copynav"> <a href="http://www.999zg.net.cn/about/copyright.html">版权声明</a> | <a href="http://www.999zg.net.cn/about/privacy.html">隐私条款</a> | <a href="http://www.999zg.net.cn/about/sitemap.html">网站地图</a> | <a href="http://www.999zg.net.cn/about/jobs.html">招贤纳士</a> </div>
    <div class="copy">
          <p>版权所有　北京知女人网&nbsp;&nbsp;&nbsp;&nbsp;咨询电话：010-58644158</p>
          <p>特别声明：本网站内容仅供参考，不作为诊断及治疗依据&nbsp;&nbsp;&nbsp;&nbsp;本网站部分内容收集于网络，如有疑问请与本站联系</p>
          <p>地址：东城区朝阳门内大街东水井胡同5号北京INN一层&nbsp;&nbsp;&nbsp;&nbsp;邮编：100029</p>
    </div>
    <script language=javascript> 

<!--

var LiveAutoInvite0='您好，来自%IP%的朋友';

var LiveAutoInvite1='欢迎光临北京知音整形美容医院';

var LiveAutoInvite2=' <strong>欢迎光临<font color=red>北京知音整形</font>美容医院</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;这里有最权威、最专业的整形医师团队和世界领先的医疗设备,为您提供最优质的服务。想了解更多整形相关问题，点击咨询让知音在线专家为您真诚答疑！';

//-->

</script>

<script language="javascript" src="http://swt.zoosnet.net/JS/LsJS.aspx?siteid=SWT52290650&float=1"></script>
  </div>

    <!--ft end-->

</div>
</body>
</html>
